$clr-background: rgba(0, 0, 0, .85);

$clr-text: hsl(0, 100%, 100%);

$clr-border: hsl(0, 100%, 100%);

$clr-scroll-bar-background: hsl(50, 90%, 50%);
$clr-scroll-bar: hsl(0, 0%, 40%);

$clr-primary: hsl(50, 90%, 50%);

$clr-loading-wheel: hsl(50, 100%, 50%);
$clr-loading-wheel-background: hsl(920, 0, 15%);

$clr-button-background: hsl(50, 100%, 50%);

$clr-pokedex: hsl(0, 70%, 40%);
$clr-pokedex-screen: hsl(0, 10%, 80%);
$clr-pokedex-moreInfo: hsl(50, 100%, 50%);
$clr-pokedex-moreInfo-hover: hsl(50, 100%, 40%);
$clr-pokdex-controlls: hsl(0, 0%, 30%);
$clr-pokedex-plus: hsl(0, 0%, 30%);

$clr-info-text: hsl(0, 0%, 10%);